body {
    font-family: 'Catamaran', 'Tahoma', sans-serif;
    font-size: 15pt;
}

.container {
    margin: 0 auto;
    width: 1024px;
    height: 100%;
}

.about-me-container {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.photo {
    border-radius: 50%;
    border: 2px solid #5a5048;
    height: 171px;
    width: 171px;
}

.my-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-me-paragraph {
    width: 700px;
}

.my-personal-information {
    display: grid;
    grid-template-columns: 100px 250px;
    grid-template-rows: 40px 40px 40px 40px;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.my-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 1024px;
    height: 90px;
    background-color: #00BFA5;
}

.icon {
    font-size: 21pt;
    color: white;
    margin-right: 80px;
    padding: 25px 25px;
    border: 2px solid #00BFA5;
}

.icon:hover {
    border-radius: 55%;
    border: 2px solid #f9fdff;
}

.skill-item {
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-content: left;
    padding-bottom: 30px;
}

.skills-grid {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 100px 100px;
}

.skill-item h2 {
    margin-left: 30px;
}

.project-item {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.portfolio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.portfolio2 {
    width: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.double-photo{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 40px;
}
.double-photo img {
    margin-right: 50px;
}
.black-icon {
    color: black;
    font-size: 31pt;
}